@charset "Utf-8";

#slogan { width: 100%; height: 600px; text-align: center; background: url(../images/bg.jpg) no-repeat center / cover; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 1; position: relative;}
#slogan::before { content: ""; width: 100%; height: 600px; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.3); }
#slogan p { font-size: 70px; font-weight: bold; text-transform: uppercase; color: #000; text-shadow: 0 6px 3px #ccc; position: relative; }
#slogan a { display: block; width: 155px; height: 45px; background: #000; color: #fff; text-align: center; line-height: 40px; font-size: 20px; margin-top: 50px; position: relative; }

#solutionWrap { width: 100%; background: #ebebeb; }
#solution { width: 1200px; margin: 0 auto; display: flex; padding: 80px 0; }
#solution .solution { flex: 1; }
#solution .solution::before { display: block; content: ""; width: 100px; height: 100px; background: url(../images/bgSolution.png) no-repeat; margin: 0 auto; }
#solution .security::before { background-position: center; }
#solution .payment::before { background-position: right;}
#solution .solution h3 { text-align: center; }
#solution .solution a { color: #333; }

#customerBoard { width: 1200px; display: flex; justify-content: space-evenly; margin: 50px auto; }
#customerBoard > section { width: 45%; position: relative;  }
#customerBoard > section h3 { font-size: 30px; font-weight: normal; border-bottom: 1px solid #ccc; padding-bottom: 22px; text-transform: uppercase; }
#customerBoard > section .more { position: absolute; top: 0; right: 0; text-indent: -9999px; width: 30px; height: 30px; transition: 0.5s; }
#customerBoard > section .more::before { content: ""; width: 30px; position: absolute; top: 50%; left: 0; border-top: 1px solid #ccc; }
#customerBoard > section .more::after { content: ""; height: 30px; position: absolute; top: 0; left: 50%; border-right: 1px solid #ccc; }
#customerBoard > select .more:hover { transform: rotate(45deg); }

#securityNews h3 {}
#securityNews h3 span { color: #f67b60;  }
#securityNews a dl { padding: 22px 12px 15px; }
#securityNews a dl dt { color: #000; margin-bottom: 18px; font-size: 22px; }
#securityNews a dl dd { color: #808080; line-height: 20px; }

#newsNotice ul li { border-bottom: 1px solid #ccc; padding: 15px 20px; }
#newsNotice ul li a { display: block; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 22px; }
#newsNotice ul li span {  color: #808080; }
